@{
    ViewBag.Title = "Connect";
}

<div class="content" style="margin-top:45px;">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
            <article>
            <h1>Connect With Us</h1>
            <p>Wait a minute - you've been declared dead. You can't give orders around here. Congratulations - you just destroyed the Enterprise. I can't. As much as I care about you, my first duty is to the ship. Smooth as an android's bottom, eh, Data? Well, that's certainly good to know. I suggest you drop it, Mr. Data. But the probability of making a six is no greater than that of rolling a seven. A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you.</p>
            
            <div class="resourceItem">
                <h3><a href="#" target="_blank">YouTube Channel</a></h3>
                <p>I'd like to think that I haven't changed those things, sir. The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules.</p>
                <div class="resourceItemReadMore"><a href="" target="_blank">YouTube Channel</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
            </div>

            <div class="resourceItem">
                <h3><a href="#" target="_blank">Share Us With Friends</a></h3>
                <p>Social media share links<br />http://blog.hubspot.com/blog/tabid/6307/bid/29544/The-Ultimate-Cheat-Sheet-for-Creating-Social-Media-Buttons.aspx
                <br />http://www.sharelinkgenerator.com/
                </p>
                <div class="resourceItemReadMore"><a href="" target="_blank">Share Us With Friends</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
            </div>

            <div class="resourceItem">
                <h3><a href="#" target="_blank">RSS Feed</a></h3>
                <p>We could cause a diplomatic crisis. Take the ship into the Neutral Zone I'd like to think that I haven't changed those things, sir. Mr. Worf, you do remember how to fire phasers?</p>
                <div class="resourceItemReadMore"><a href="" target="_blank">RSS Feed</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
            </div>

            <div class="resourceItem">
                <h3><a href="#" target="_blank">Kickstarter Projects</a></h3>
                <p>What? We're not at all alike! I will obey your orders. I will serve this ship as First Officer. And in an attack against the Enterprise, I will die with this crew. But I will not break my oath of loyalty to Starfleet. Earl Grey tea, watercress sandwiches... and Bularian canapés? Are you up for promotion?
                <div class="resourceItemReadMore"><a href="" target="_blank">Kickstarter Projects</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
            </div>
            </article>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-4">
            <div id="treeMenu">
                <ul>
                    <li>Mailing Address</li>
                    <li>Phone</li>
                    <li>Email</li>
                </ul>
            </div>
            <div class="productPromo">
                <img src="~/Content/Img/promo.png" />
            </div>
            <div id="productPromo">
                <img src="~/Content/Img/promo.png" />
            </div>
        </div>
        </div>

</div>
