@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<div class="resourceItem">
    <h3><a href="https://www.khanacademy.org" target="_blank">Khan Acadmey</a></h3>
    <p>Serving grades 3rd to collage level information.  Khan Academy is an organization on a mission. They are a not-for-profit with the goal of changing education for the better by providing a free world-class education for anyone anywhere. </p>
    <div class="resourceItemReadMore"><a href="https://www.khanacademy.org" target="_blank">Khan Acadmey</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>
<div class="resourceItem">
    <h3><a href="http://ocw.mit.edu" target="_blank">MIT Open Cource Ware</a></h3>
    <p>MIT OpenCourseWare (OCW) is a web-based publication of virtually all MIT course content. OCW is open and available to the world and is a permanent MIT activity.</p>
    <div class="resourceItemReadMore"><a href="http://ocw.mit.edu" target="_blank">MIT Open Cource Ware</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>
<div class="resourceItem">
    <h3><a href="http://www.cd3wd.com/cd3wd_40/cd3wd/index.htm" target="_blank">13GB Of How-To Manuals</a></h3>
    <p>For the purpose of building human civilization from scratch</p>
    <div class="resourceItemReadMore"><a href="http://www.cd3wd.com/cd3wd_40/cd3wd/index.htm" target="_blank">13GB Of How-To Manuals</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>


<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>


<div class="resourceItem">
    <h3><a href="https://www.khanacademy.org" target="_blank">Khan Acadmey</a></h3>
    <p>Serving grades 3rd to collage level information.  Khan Academy is an organization on a mission. They are a not-for-profit with the goal of changing education for the better by providing a free world-class education for anyone anywhere. </p>
    <div class="resourceItemReadMore"><a href="https://www.khanacademy.org" target="_blank">Khan Acadmey</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>
<div class="resourceItem">
    <h3><a href="http://ocw.mit.edu" target="_blank">MIT Open Cource Ware</a></h3>
    <p>MIT OpenCourseWare (OCW) is a web-based publication of virtually all MIT course content. OCW is open and available to the world and is a permanent MIT activity.</p>
    <div class="resourceItemReadMore"><a href="http://ocw.mit.edu" target="_blank">MIT Open Cource Ware</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>
<div class="resourceItem">
    <h3><a href="http://www.cd3wd.com/cd3wd_40/cd3wd/index.htm" target="_blank">13GB Of How-To Manuals</a></h3>
    <p>For the purpose of building human civilization from scratch</p>
    <div class="resourceItemReadMore"><a href="http://www.cd3wd.com/cd3wd_40/cd3wd/index.htm" target="_blank">13GB Of How-To Manuals</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>
<div class="resourceItem">
    <h3><a href="http://education-portal.com/academy/course/index.html" target="_blank">Education Portal</a></h3>
    <p>Due to skyrocketing tuition costs, the dream of a college degree is becoming out of reach for millions of students. They building the solution —the fastest and most inexpensive way to earn college credit.</p>
    <div class="resourceItemReadMore"><a href="http://education-portal.com/academy/course/index.html" target="_blank">Education Portal</a> <span class="glyphicon glyphicon-chevron-right"></span></div>
</div>


