@model DIYFE.EF.Article


<div class="listItem">
    <div class="listItemHeader"><h2>@Model.Title</h2></div>
    <div class="listItemLinks">in line link list</div>
    <div class="listItemDescription">@Model.ListItemContent</div>
    <div class="listItemReadMore">@Html.ArticleLink(Model, "btn", "Read More")</div>
</div>   
 
