@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@media screen and (max-width: 600px) {
    html, body, div, span, boject, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote,
    pre, abbr, address, cite, code, del, dfn,
    em, img, ins, kbd, q, samp, small, strong,
    sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
    fiedlset, form, label, legend, table, caption,
    tbody, tfoot, thead, tr, th, td, article, aside,
    canvas, details, figcaption, figure, footer, header,
    hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    #header #nav, #header .subnav {
        display: none;
    }

    #responsive {
        display: block;
        width: 480px;
        top: 0;
        left: 0;
        z-index: 999999;
        position: relative;
    }

    a.toggleMenu:link,
    a.toggleMenu:active,
    a.toggleMenu:hover,
    a.toggleMenu:visited {
        padding: 10px 20px 10px 10px;
        background-color: #353535;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border: 5px;
    }

    a.active {
        border-radius: 5px 5px 0 0 !important;
        -moz-border-radius: 5px 5px 0 0 !important;
        -webkit-border-top-left-radius: 5px !important;
        -webkit-border-top-right-radius: 5px !important;
        padding-bottom: 17px !important;
    }

    #responsive-menu-holder {
        width: 480px;
        overflow: hidden;
        display: none;
        position: absolute;
        margin-top: 15px;
    }

    #responsive-menu {
        position: relative;
        width: 10000px;
        height: auto;
        top: 0;
    }

        #responsive-menu .mainMenu {
            background-color: transparent;
        }

            #responsive-menu .mainMenu ul, #responsive-menu .subMenu ul {
                list-style-type: none;
            }

                #responsive-menu .mainMenu ul li, #responsive-menu .subMenu ul li {
                    display: block;
                    width: 100%;
                }

                    #responsive-menu .mainMenu ul li a:link,
                    #responsive-menu .mainMenu ul li a:active,
                    #responsive-menu .mainMenu ul li a:hover,
                    #responsive-menu .mainMenu ul li a:visited,
                    #responsive-menu .subMenu ul li a:link,
                    #responsive-menu .subMenu ul li a:active,
                    #responsive-menu .subMenu ul li a:hover,
                    #responsive-menu .subMenu ul li a:visited {
                        padding: 10px 10px 10px 50px;
                        display: block;
                        width: 100%;
                    }

            #responsive-menu .mainMenu .menu {
                background-color: #353535;
            }

                #responsive-menu .mainMenu .menu li.selected {
                    background-color: #4c4c4c;
                }

                #responsive-menu .mainMenu .menu a:link,
                #responsive-menu .mainMenu .menu a:active,
                #responsive-menu .mainMenu .menu a:hover,
                #responsive-menu .mainMenu .menu a:visited {
                    color: #ffffff;
                    text-decoration: none;
                }

            #responsive-menu .mainMenu .utility {
                background-color: #ff8400;
            }

                #responsive-menu .mainMenu .utility a:link,
                #responsive-menu .mainMenu .utility a:active,
                #responsive-menu .mainMenu .utility a:hover,
                #responsive-menu .mainMenu .utility a:visited {
                    color: #231f20;
                    text-decoration: none;
                }

        #responsive-menu .subMenu ul {
            background-color: #414141;
            height: auto;
        }

            #responsive-menu .subMenu ul li a:link,
            #responsive-menu .subMenu ul li a:active,
            #responsive-menu .subMenu ul li a:hover,
            #responsive-menu .subMenu ul li a:visited {
                color: #ffffff;
                text-decoration: none;
            }

            #responsive-menu .subMenu ul li a.prev-nav:link,
            #responsive-menu .subMenu ul li a.prev-nav:active,
            #responsive-menu .subMenu ul li a.prev-nav:hover,
            #responsive-menu .subMenu ul li a.prev-nav:visited {
                background-color: #353535;
                text-transform: uppercase;
                font-weight: bold;
            }


        #responsive-menu .mainMenu, #responsive-menu .subMenu {
            float: left;
            position: relative;
            width: 480px;
            height: auto;
            display: block;
        }
}
