

@section SecondHeader {
@*      <div class="top-anchor">
        <div class="act-now-bar dark-to-light-gradient box-shadow"></div>
      </div>*@
    }

      <!-- Main hero unit for a primary marketing message or call to action -->
@*      <div class="hero-unit dark-to-light-gradient">
        <h1>DIYFE</h1>
        <p>Do It Yourself, For Everyone</p>
      </div>*@

      <!-- Example row of columns -->
      <div class="row show-grid">
      @Html.Partial("_ErrorPageHandler")
        <div class="span9 show-grid">
            <div class="box-content-hero">
                <h2>What is this organization all about?</h2>
                <p>Our organization offers resources that contribute to self-sufficiency in a DIY fashion.  We sponsor individual's projects and post research and instructions for all to learn from or review.  <a href="/project">View current projects.</a></p>

                <h2>What can you do on this site?</h2>
                <p>This site not only serves as an information source on our organization but also as an informational repository.  We have two main sections, a projects section that holds information on our work in progress.   Then an information repository that holds information on both completed projects and informative posts.</p>
@*                <p><a class="btn" href="#">View details &raquo;</a></p>*@
            </div>
        </div>

        <div class="span3 show-grid">
            <div class="box-content">
                <h2>How to Participate?</h2>
                <p>We can sponsor your project!  Find out what it means to be sponsored.  How to qualify for sponsorship and why you would want to be sponsored. <a href="Home/GettingSponsored">How to get sponcered</a></p>
                <p><a class="btn" href="Home/Participate">View details &raquo;</a></p>
            </div>
       </div>

        <div class="span3 show-grid">
          <div class="box-content">
            <h2>How to Donate?</h2>
            <p>Learn about our growing pains and how you can help all of us grow.</p>
            <p><a class="btn" href="Home/Donations">View details &raquo;</a></p>
           </div>
        </div>
      </div>

      <div class="row show-grid">
          <div class="span6">
              <div class="box-content">
              <h2>Recently Update Projects</h2>
                 <p>Check up on how work is going.  This is a list of recently updated or completed projects.  You can also <a href="#">sign</a> up be notified of project updates.</p>
                 <dl class="dl-horizontal">
                        <dt><a href="#">Man-Chem</a></dt>
                        <dd>A serious chemistry and biology kit in DIY fashion.</dd>
                        <dt><a href="#">East Texas 1</a></dt>
                        <dd>Permaculture project update.</dd>
                        <dt><a href="#">Geodome Greenhouse</a></dt>
                        <dd>Project almost done!</dd>
                 </dl>
                 <p><a class="btn" href="#">view all</a></p>
               </div>
          </div>
          <div class="span6">
              <div class="box-content">
              <h2>Projects Needing Funding</h2>
                 <p>List of projects that can be fiscal sponsor by us, meaning you can write off any materials needed for project completion.  These are project that either need funding or need an individual to take responsibility for its success.  </p>
                     <dl class="dl-horizontal">
                        <dt><a href="#">Tower of Power</a></dt>
                        <dd>Combine DIY-VWART with water storage and pressure</dd>
                        <dt><a href="#">Dark Net</a></dt>
                        <dd>Not so dark future of communication</dd>
                        <dt><a href="#">Yard Work</a></dt>
                        <dd>Permaculture your yard and stop working with a system that provides you nothing.</dd>
                    </dl>
                  <p><a class="btn" href="#">view all</a></p>
               </div>
          </div>
      </div>
    <div class="row show-grid">
          <div class="span6">
              <div class="box-content">
              <h2>Recent Post</h2>
                  <dl>
                    <dt><a href="#">Nirogrent Fixing Planes</a></dt>
                    <dt><a href="#">Off Grid Power Managment</a></dt>
                    <dt><a href="#">List of free education</a></dt>
                    <dt><a href="#">3 ways to use grey water</a></dt>
                    <dt><a href="#">3 ways to manage human waste</a></dt>
                    <dt><a href="#">WORMS!</a></dt>
                </dl>
                <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
          </div>
          <div class="span6">
              <div class="box-content">
              <h2>News</h2>
                <dl>
                    <dt><a href="#">100th Project</a></dt>
                    <dd>We have just sponcered our 100th project!</dd>
                    <dt><a href="#">New Location</a></dt>
                    <dd>new location has been purchased and will have alot of great uses.</dd>
                    <dt><a href="#">Check it out and save $$$ while gaining your personal freedom!</a></dt>
                    <dd>Complete project list and cost to get you up and running in a self sufficient life style.</dd>
                </dl>
               </div>
          </div>
      </div>
