
    <script type="text/javascript">
        $(document).ready(function () {
            
//            $('#RunPageError').click(function () {

//                pageError.publish('masterPageError', { error: 'INDEX VIEW PAGE CLICK ERROR', method: 'Error is rased in Index View, on link click. -- TEXT CHANGED -- This message is displayed by the masterPageError object in located in _Layout' });
//                pageError.publish('pageError', { error: 'INDEX VIEW PAGE CLICK ERROR', method: ' Error is rased in Index view and is handeled in the Index view' });
//                pageError.publish('logError', { error: 'INDEX VIEW PAGE CLICK ERRORr', method: 'only log error, no responce to page elements.' });
//                
//                return false;
//            });

        });
    </script>

@section SecondHeader {
      <div class="top-anchor">
        <div class="act-now-bar dark-to-light-gradient box-shadow"></div>
      </div>
    }

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit dark-to-light-gradient">
        <h1>Bootstrap Project Tempalte</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three suppo</p>
      </div>

      <!-- Example row of columns -->
      <div class="row show-grid">
      @Html.Partial("_ErrorPageHandler")
        <div class="span9 show-grid">
            <div class="box-content-hero">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p>dapibus, tellus ac cursus <a href="#">commodo, tortor</a> mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p> Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
        </div>

        <div class="span3 show-grid">
            <div class="box-content">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. <a href="3">Fusce</a></p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
       </div>

        <div class="span3 show-grid">
          <div class="box-content">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
           </div>
        </div>
      </div>

      <div class="row show-grid">
          <div class="span6">
              <div class="box-content">
              <h2>Heading</h2>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
          </div>
          <div class="span6">
              <div class="box-content">
              <h2>Heading</h2>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                 <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
          </div>
      </div>
    <div class="row show-grid">
          <div class="span6">
              <div class="box-content">
              <h2>Heading</h2>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
          </div>
          <div class="span6">
              <div class="box-content">
              <h2>Heading</h2>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                 <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
          </div>
      </div>
