
#commentsWrap {
      background: linear-gradient(to bottom, #F7F7F7 0%, #E8E8E8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    width: 640px;
    padding:10px 40px 10px 40px;
}
#commentFormWrap {

}
#commentFormWrap td:first-child {
    width:100px;
    text-align:center;
}

#commentFormWrap td{
    padding:3px;
}

#commentFormWrap input[type="text"], #commentFormWrap input[type="password"], #commentFormWrap textarea, #commentFormWrap select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #E4E4E4;
    border-radius: 2px;
    color: #111111;
    font: 400 12px/1.2 Arial,Helvetica,sans-serif;
    padding: 7px 5px;
    transition: border-color 200ms ease 0s, outline 200ms ease-in 0s;
    width: 450px;
}

#commentFormWrap textarea {
    margin-top:5px;
}

#commentFormWrap em {
    color: #787878;
    display: block;
        font-size: 11px;
}

/*.sfcommentsListWrp, .sfcommentsFormWrp {
    border-top: 1px solid #DFDFDF;
    margin-top: 30px;
    padding-top: 30px;
}

.sfcommentsList {
    list-style: none outside none;
    margin-bottom: -31px;
    padding: 0;
}

.sfcommentDetails {
    border-bottom: 1px solid #DFDFDF;
    list-style: none outside none;
    overflow: hidden;
    padding: 30px 0;
}

.sfcommentAuthor, .sfcommentDate {
    clear: both;
    float: left;
    font-style: normal;
    padding: 0 20px 0 0;
    width: 80px;
}

.sfcommentText {
    clear: right;
    padding: 0 0 0 170px;
    width: 300px;
}

.sfcommentDetails {
    list-style: none outside none;
}



.shank, .sfcommentsFormWrp {
    background: linear-gradient(to bottom, #F7F7F7 0%, #E8E8E8 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E6E6E6;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    width: 473px;
}
.sfcommentsFormWrp {
    padding: 30px 40px;
    width: 640px !important;
}
.sfpostDetails {
    font-size: 13px;
}

.sfcommentsFormWrp .sfcommentsTitle {
    font-size: 23px;
    margin-bottom: 30px;
}

img, fieldset {
   margin-left: -45px
}

.sfcommentsField {
    clear: both;
    float: left;
    list-style: none outside none;
    margin-bottom: 15px;
    width: 100%;
}
.sfcommentsField > div {
    clear: both;
    float: left;
}




input[type="text"], input[type="password"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #E4E4E4;
    border-radius: 2px 2px 2px 2px;
    color: #111111;
    font: 400 12px/1.2 Arial,Helvetica,sans-serif;
    padding: 7px 5px;
    transition: border-color 200ms ease 0s, outline 200ms ease-in 0s;
    width: 550px;
}
.sfcommentsFormWrp .sfTxtLbl {
    line-height: 1.2;
}

.sfcommentsField .sfTxtLbl {
    padding-right: 20px;
    text-align: left;
}

label, .sfTxtLbl {
    color: #4E4E4E;
    float: left;
    font-size: 13px;
    width: 350px;
}

.sfTxtLbl small, .sfTxtLbl .sfcommentsFormWrp em, .sfcommentsFormWrp .sfTxtLbl em {
    color: #787878;
    display: block;
}
small, .sfcommentsFormWrp em {
    font-size: 11px;
}


.sfFieldWrp {
    float: left;
    max-width: 600px;
}

.button, .sfcommentsFormWrp input[type="submit"], button, input[type="submit"] {
    background: none repeat scroll 0 0 #262626;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.14) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font: 14px "Droid Sans",DroidSansWeb,"Segoe UI","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    padding: 8px 15px 6px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.3s ease 0s;
    z-index: 2;
}

.sfSubmitBtnLarge input[type="submit"], .button.large, .sfcommentsFormWrp input[type="submit"] {
    font-size: 18px;
    padding: 18px 50px 16px;
}


.sfcommentsFormWrp .sfcommentsSubmitBtnWrp {
    padding: 10px 0;
    text-align: center;
}
#wrapper .large.long, #wrapper .sfcommentsFormWrp input[type="submit"], .sfcommentsFormWrp #wrapper input[type="submit"] {
    padding-left: 90px;
    padding-right: 90px;
}*/