@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Server Responce Error</title>
</head>
<body>
     <h2>Server Responce Error</h2>
    <p>@ViewBag.ErrorMessage</p>

</body>
</html>