<html>
<head>
    <title>Contact From DIYFE</title>
</head>
<body>
<h2>Web Contact</h2>
Contact Name: @Model.ContactName<br />
Contact Email: @Model.ContactEmail<br />
Contact Message: @Model.Message<br />
</body>
</html>