@model DIYFEWeb.Models.ArticleListModel
@using PagedList
@using PagedList.Mvc

 @Html.Partial("Error/_ErrorPageHandler")

<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
              
          <div id="breadcrumb"><ul class="breadcrumb">
            <li><a title="Base diyfe categor" href="http://diyfe.org/post/">Posts</a> <span class=""> | </span></li>
            <li><a title="Water" href="http://diyfe.org/project/">Projects</a> <span class=""> | </span></li>
            <li><a title="Access" href="http://diyfe.org/blog/">Blog</a> <span class=""> | </span></li>
              <li><a title="Access" href="http://diyfe.org/News/">News</a> <span class=""> | </span></li>
</ul></div>
            @for (int i = 0; i < @Model.PagedArticle.PageSize; i++)
            {
                if (i < Model.PagedArticle.Count()){
                 @Html.Partial("_DataListItem", Model.PagedArticle[i])
                 }
            }
            
            <div class="paging">
                @Html.PagedListPager(Model.PagedArticle, page => Url.Action("Index", new { page }))
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-4">
            <div id="treeMenu">
                product or project promotion area
            </div>
            <div class="productPromo">
                product or project promotion area
            </div>
            <div id="topLevelLinkList">
                top level link list that isn't covered in the tree menu
            </div>
        </div>
        </div>

</div>