@model List<DIYFE.EF.ContentSection>
@{
    ViewBag.Title = "Getting-Sponsored";
}

<div class="row show-grid">
      @Html.Partial("_ErrorPageHandler")
        <div class="span12">
            <div class="box-content">
            @foreach (DIYFE.EF.ContentSection content in Model)
              {
                  <h1>@content.ContentTitle</h1>
                  @Html.Raw(content.ContentText)
              } 
            </div>
        </div>
</div>




