/*!
 * DIYFE Site
 *
#7D1935
#66BEDA
#F5F3ED
#FFFFFF
    */

/*body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #F5F3ED;
}

header,
footer,
nav,
section {
    display: block;
}

.dark-to-light-gradient {
    background: -moz-linear-gradient(left center , #DD3257 0%, #FFB516 100%) repeat scroll 0 0 transparent;
    height: 100%;
}

.act-now-bar {
    display: block;
}
.act-now-bar {
    height: 140px;
    left: 0;
    position: absolute;
    top: 185px;
    width: 100%;
    z-index: -1;
}
.box-shadow {
    box-shadow: 0 0 10px #E42B00 inset;
}

.box-content-hero
{
    min-height:400px;
}
.box-content {
    min-height: 150px;
}
.box-content, .box-content-hero
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E4E4E4 #E4E4E4 #C9C9C9;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    line-height: 20px;
    padding: 30px;
    position: relative;
}

/* Header Nav Dropdown Section 
 ----------------------------------------------------------*/
.view-all
{
    font-size:.8em;
    margin-top:5px;
}

.dropdown-menu-sub
{
    width:200px; float:left; 
    border-right:1px solid #ccc;
    padding:0px 13px 25px 20px;
}

.dropdown-menu .dropdown-menu-sub:last-of-type
{
   border:none;
}

.dropdown-menu .dropdown-menu-sub .nav-list
{
    font-size:.8em;
    font-weight:normal;
}

.dropdown-menu-sub h3
{
    margin:0px 0px 5px 0px;
}

.dropdown-menu .dropdown-menu-sub .nav-list li
{
    line-height:15px;
} 

.dropdown-menu .dropdown-menu-sub .nav-list li a
{
    padding:5px;
} 

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Error and Success Divs */

#masterErrorDiv 
{
    display:none;
}
#pageErrorDiv
{
    display:none;
}


/* Bootstrap Overrights
    -----------------------------------------------------------*/
.hero-unit
{
    margin-bottom:15px;
    padding:20px 40px 30px 40px;
}

.hero-unit h1 {
    color:#7D1935;
}

h1, h2, h3, h4, h5, h6
{
    color:#7D1935;
}

.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}


/* Project and Project list views
    -----------------------------------------------------------*/
    #MainProjectsHeader
    {
        height:250px;
        padding-top:0px;
    }
    #MainProjectsHeader .span4
    {
        height:80px;
        border-color:#E4E4E4 #E4E4E4 #C9C9C9;
    }
    .stories {
    clear: both;
    /*margin: 0 0 40px 0px;
    border-bottom:dotted 3px #e4e4e4;*/
}
    .votebox {
        background: none repeat scroll 0 0 #FFFFFF;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        float: left;
        margin: 4px 15px 0px 0px;
        width: 75px;
        height: 75px;
    }
    .vote {
    padding: 4px 3px;
}
    
.headline {
    font-size: 1em;
    margin: 0 0 10px;
}

.storyfooter {
    font-size: 10px;
    margin: 6px 0 25px;
}
    #MainProjectsHeader {
        height:auto;

    }*/